
<% if params[:questionnaire]=="PreQuestionnaire" %>
<h1>Pre Quiz Survey</h1>
  <% elsif params[:questionnaire]=="Quiz" %>
  <h1> Quiz </h1>
  <% else %>
  <h1> Post Quiz Survey </h1>
  <% end %>




<%= render 'form' %>

<%= link_to 'Back', player_answers_path %>
