<a href="/"><img class="rollover" id="home_button" src='/images/menu/home_icon_off.png' style="width:85px;height:85px" title="Go to the Home Page" onclick="$('#instruction_container').fadeToggle();"></a>
<% if current_user.educator %>
    <img class="rollover" id="import_button" src='/images/menu/import_off.png' style="width:75px;height:75px" title="Bulk User Import">
    <%= link_to student_groups_path do %>
        <img class="rollover" id="group_button" src='/images/menu/group_icon_off.png' style="width:75px;height:75px" title="Student Group Manager">
    <% end %>
    <%= link_to questionnaires_path do %>
        <img class="rollover" id="design_button" src='/images/menu/design_icon_off.png' style="width:75px;height:75px" title="Questionnaire Manager">
    <% end %>

<% end %>
